body {
    background-color: #F1F1F1;
}

#sidebar {
    float: left;
    height: 1000px;
    width: 30%;
    position: relative;
    background-color: #D8D8D8;
    z-index: 1;
    padding-top: 25px;
}

#task-list {
    height: auto;
}
.titles {
    padding-left: 15px;
    padding-top: 20px;
}

.timer {
    position: absolute;
    top: 35%;
    right: 30%;
}

#time {
    font-size: 62px;
    font-weight: 500;
}

#start-button {
    width: 150px;
    height: 50px;
    font-size: 34px;
}

#stop-button {
    width: 150px;
    height: 50px;
    font-size: 34px;
}

#widget_2 {
    margin-top: 50px;
}

#text-field {
    width: 85%;
    font-size: 24px;
    margin-left: 30px;    
}

#task-button {
    float: right;
    margin: 10px 30px 20px 0;
    width: 100px;
    height: 35px;
}

ul {
    font-size: 18px;
    width: 100%;
    height: 350px;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 5px;
}

li:nth-child(odd) {
    background-color: #CBCBCB;
}

#whenCompleted {
    font-size: 12px;
    float: right;
    text-align: left;
    padding-right: 5px;
}